<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Hack por Colombia</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#"><span class="text-warning">Hack</span> por Colombia</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">Recuros de apoyo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">Videos</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="#services">Mentores</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="#portfolio">¡Inscríbete aquí!</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#team">Icono</a>
              </li>                 
            </ul>
          </div>
        </div>
      </nav>
    
      <section class="services section-padding-1" id="services">
          <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center pb-5">
                        <h2>BIENVENIDO/A “HACK POR COLOMBIA: CONSTRUYENDO ACCESO A LA JUSTICIA</h2>
                        <p>¿Tienes una idea que contribuya a mejorar el acceso a la justicia en tu territorio? Esta es tu oportunidad de ser parte de la solución.</p>
                    </div>
                </div>
            </div>
          </div>
      </section>
      
      <section class="services section-padding-2" id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center pb-5">
                        <h2>MUY PRONTO...</h2>
                        <p>“Hack_Por_Colombia: Construyendo Acceso a la Justicia” tiene como objetivo central promover el empoderamiento de jóvenes a través de la creación de soluciones innovadoras que fortalezcan el acceso a la justicia, así como la satisfacción y confianza en el sistema de justicia en Colombia.</p>
                        <p>Un total de 50 jóvenes de diversos municipios de nuestro país se reunirán los días 10 y 11 de febrero de 2024 en la ciudad de Cali, con el propósito de abordar un interesante reto relacionado con el desarrollo de un modelo o herramienta que contribuya a mejorar el acceso a la justicia y fortalecer la confianza en las instituciones en el contexto de la era de transformación digital.</p>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-6 col-md-6 col-lg-3">
                  <div class="card text-white text-center bg-dark pb-2">
                      <div class="card-body">                          
                          <p id="days" class="lead">00</p>                        
                          <h3 class="card-title">Días</h3>
                      </div>
                  </div>
              </div>
                <div class="col-6 col-md-6 col-lg-3">
                    <div class="card text-white text-center bg-dark pb-2">
                        <div class="card-body">                                                      
                            <p id="hours" class="lead">00</p>
                            <h3 class="card-title">Horas</h3>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-lg-3">
                    <div class="card text-white text-center bg-dark pb-2">
                        <div class="card-body">                         
                            <p id="minutes" class="lead">00</p>                            
                            <h3 class="card-title">Minutos</h3>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-lg-3">
                    <div class="card text-white text-center bg-dark pb-2">
                        <div class="card-body">                                                      
                            <p id="seconds" class="lead">00</p>                            
                            <h3 class="card-title">Segundos</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-3">
                <div class="col-md-12">
                    <div class="section-header text-center pb-5">
                        <p>El evento se llevará a cabo el 10 y 11 de febrero del 2024 en la ciudad de Cali. ¡Tú podrás ser uno de los 50 jóvenes que participen de esta increíble competencia!</p>
                        <p>Para conocer los Términos y Condiciones de la competencia haz clic aquí.</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="section-header text-center pb-5">
                        <button class="btn bg-warning text-dark"><a class="btn bg-warning text-dark" href="https://842sgev99it.typeform.com/to/EKETpFuH">Inscríbete aquí</a></button>
                    </div>
                </div>
            </div>
            <div class="row p-3">
                <div class="col-md-12">
                    <div class="container section-header pb-5">
                        <h3>¿QUIÉNES PUEDEN PARTICIPAR?</h3>
                    
                        <div class="mt-4">
                            <p><strong>1.</strong> Jóvenes de nacionalidad colombiana entre los 18 y 28 años en calidad de persona natural.</p>
                        </div>
                    
                        <div class="mt-4">
                            <p><strong>2.</strong> Que de manera empírica o mediante formación académica demuestra conocimientos en áreas de liderazgo, trabajo comunitario, acceso a derechos, justicia e innovación; o que estén cursando o hayan cursado programas de educación no formal, media vocacional, técnico, tecnólogo, pregrado y/o posgrado, en áreas de ingeniería o desarrollo (ingeniero de sistemas, ingeniero de comunicaciones, desarrollador, programador, analista de datos, etc.), ciencias económicas (financiero, economista, administrador de empresas, etc.) y ciencias sociales (sociólogo, antropólogo, periodista, comunicador social, historiador, filósofo, etc.).</p>
                        </div>
                    
                        <div class="mt-4">
                            <p><strong>3.</strong> Uso y manejo básico de herramientas ofimáticas (Word, Excel, PowerPoint, Canva).</p>
                        </div>
                    
                        <div class="mt-4">
                            <p><strong>4.</strong> Experiencia certificada en iniciativas comunitarias o proyectos con organizaciones de la sociedad civil en temas relacionados con DDHH, convivencia, resolución de conflictos, y justicia.</p>
                        </div>
                    
                        <div class="mt-4">
                            <p><strong>5.</strong> Jóvenes que estén participando o hayan participado en la creación de metodologías, diálogos o procesos de liderazgo en temas de convivencia, resolución de conflictos, justicia, DDHH entre otros, desde la investigación académica y autogestión comunitaria.</p>
                        </div>
                    
                        <div class="mt-4">
                            <p><strong>6.</strong> Nacidos y/o habitantes de los siguientes municipios:</p>
                    
                            <div class="mt-3 ml-4">
                                <p><strong>a) Unidad Regional Antioquia-Chocó:</strong></p>
                                <ul>
                                    <li>Chocó: Bojayá, Carmen del Darién, Condoto, Istmina, Medio San Juan, Novita, Quibdó, Riosucio y Unguía.</li>
                                    <li>Urabá: Vigía del Fuerte, Apartadó, Carepa, Chigorodó, Dabeiba, Mutatá, Necoclí, San Pedro de Urabá y Turbo.</li>
                                    <li>Bajo Cauca: Caucasia, Cáceres, El Bagre, Nechí y Tarazá.</li>
                                </ul>
                            </div>
                    
                            <div class="mt-3 ml-4">
                                <p><strong>b) Unidad Regional Sur de Córdoba y Montes de María:</strong></p>
                                <ul>
                                    <li>Sur de Córdoba: Montelíbano, Puerto Libertador, Tierralta, San José de Ure, San Pelayo, Valencia y Montería.</li>
                                    <li>Subregión Montes de María: Bolívar: Cartagena, Córdoba, El Carmen de Bolívar, Mahates, María La Baja, San Jacinto, San Juan Nepomuceno y Zambrano. Sucre: Colosó, Chalán, Los Palmitos, Morroa, Ovejas, San Antonio de Palmito, San Onofre y Toluviejo.</li>
                                </ul>
                            </div>
                    
                            <div class="mt-3 ml-4">
                                <p><strong>c) Unidad Regional Suroccidente:</strong></p>
                                <ul>
                                    <li>Valle del Cauca: Buenaventura y Cali.</li>
                                    <li>Cauca: Caldono, Caloto, Corinto, Jambaló, Guapi, Miranda, Santander de Quilichao, El Tambo y Toribio.</li>
                                    <li>Pacífico Nariñense: Barbacoas, Magüí Payan, Roberto Payan, El Charco, Olaya Herrera, Santa Bárbara, Ricaurte, Francisco Pizarro, La Tola, Mosquera y Tumaco.</li>
                                    <li>Putumayo: Puerto Caicedo, Puerto Guzmán, Puerto Leguízamo, San Miguel, Puerto Asís, Orito, Valle del Guamuez y Villagarzón.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- services section Ends -->

    <!-- Introduction section Ends -->
    <section class="services section-padding-2" id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center pb-5">
                        <h2>Formulario de Inscripción</h2>
                        <button class="btn bg-warning text-dark">Formulario de inscripción</button>
                        <img src="" alt="">
                        <p>El formulario de inscripción estará habilitado desde el lunes 30 de octubre a las 9:00 a.m. hasta el domingo 12 de noviembre a las 11:59 p.m.  Una vez finalizado este tiempo,  no podrás registrarte para participar en el evento.</p>
                        <p>A continuación, encontrarás los términos y condiciones del evento <Hack_Por_Colombia>: Construyendo Acceso a la Justicia.  Estos términos y condiciones rigen tu participación en este evento, por lo que te recomendamos que los leas detenidamente. Al diligenciar el formulario de inscripción, aceptas cumplir con estos en su totalidad. </p>
                        <button class="btn bg-warning text-dark">Términos y COndiciones</button>
                        <p>Este formato es el único formulario habilitado para el registro a <Hack_Por_Colombia>: Construyendo Acceso a la Justicia*. Extendemos una especial invitación  a personas de la comunidad LGBTIQ+, comunidades Afro, Indígenas, Palenqueras, Negras, Rrom y  mujeres jóvenes a ser parte de Hack_Por_Colombia>: Construyendo Acceso a la Justicia.  El verdadero poder está en la diversidad y representatividad.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Introduction section Ends -->

    <!-- portfolio strats -->
    <section id="portfolio" class="portfolio section-padding-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center pb-5">
                        <h2>¡Conoce a nuestros mentores y jurados!</h2>
                        <p>Ellos son los encargados de  acompañarte, guiarte y resolver todas tus dudas  durante la competencia frente a las áreas de  Innovación y Sostenibilidad, Programación y Desarrollo de Software,  y Justicia.  También serán quienes evalúen y seleccionen la propuesta ganadora.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-light text-center bg-white pb-2">
                        <div class="card-body text-dark">
                          <div class="img-area mb-4">
                              <img src="img/mentor-1.jpg" class="img-fluid" alt="">
                          </div>
                            <h3 class="card-title">Juanita López Patrón</h3>
                            <h4 class="card-title">Directora Técnica Programa Justicia Inclusiva de USAID (JUSTICIA)</h4>
                            <p class="lead">ExViceministra de Promoción de la Justicia, cuenta con 15 años de experiencia en el sector público, en diferentes ramas del poder público. Fue partícipe en la consolidación y  puesta en marcha de la Agencia Nacional de Defensa Jurídica del Estado.</p>
                            <p class="lead">Como Viceministra de Promoción de la Justicia lideró programas exitosos que lograron posicionarse en la agenda pública tanto gubernamental como legislativa para mejorar sustantivamente el acceso a la justicia: justicia digital, justicia rural y justicia inclusiva; así como el mayor uso de métodos de resolución de conflictos.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-light text-center bg-white pb-2">
                        <div class="card-body text-dark">
                          <div class="img-area mb-4">
                              <img src="img/mentor-2.png" class="img-fluid" alt="">
                          </div>
                            <h3 class="card-title">Camilo Rocha</h3>
                            <h4 class="card-title">Decano Facultad de Ingeniería y Ciencias, PUJ Cali. (PROGRAMACIÓN)</h4>
                            <p class="lead">Decano de la facultad de ingeniería de la Pontificia Universidad Javeriana de Cali. Cuenta con amplia experiencia en proyectos de investigación fundamental, investigación aplicada y consultoría en métodos formales e inteligencia artificial. Ha sido docente e investigador en áreas de computación, matemáticas y biología, que incluyen la creación de nuevos lenguajes de programación para misiones espaciales autónomas; técnicas algorítmicas, simbólicas y probabilísticas.</p>
                            <p class="lead">Ha sido investigador principal y co-investigador en proyectos de gran escala financiados con fondos nacionales e internacionales, ha dirigido a estudiantes de pregrado, maestría y doctorado, y ha sido galardonado con reconocimientos internacionales como Amazon Research Awards.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-light text-center bg-white pb-2">
                        <div class="card-body text-dark">
                          <div class="img-area mb-4">
                              <img src="img/mentor-3.png" class="img-fluid" alt="">
                          </div>
                            <h3 class="card-title">Carolina Montoya</h3>
                            <h4 class="card-title">Coordinadora regional, ImpactHub Cali.(INNOVACIÓN Y SOSTENIBILIDAD)</h4>
                            <p class="lead">Coordinadora de Impact Hub Cali, comunidad de emprendimiento e innovación en +60 países, +100 ubicaciones y +16.500 miembros. Apasionada, emprendedora, enamorada de la innovación, la estrategia empresarial y el emprendimiento.</p>
                            <p class="lead">Siempre buscando aprender algo nuevo cada día y brindando todo mi conocimiento y experiencia para adquirir los mejores resultados.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-light text-center bg-white pb-2">
                        <div class="card-body text-dark">
                          <div class="img-area mb-4">
                              <img src="img/mentor-4.png" class="img-fluid" alt="">
                          </div>
                            <h3 class="card-title">Juan Manuel Madrid</h3>
                            <h4 class="card-title">Profesor de la Facultad de Ingeniería, Diseño y Ciencias Aplicadas.(DESARROLLO DE SOFTWARE)</h4>
                            <p class="lead">Profesor e investigador en temas de Seguridad de la Información, Ciberseguridad, Sistemas Operativos y Robótica. </p>
                            <p class="lead">Cuenta con una Maestría en Ciencias enfocada en Seguridad de la Información de Nova Southeastern University. Actualmente se desempeña como docente del Departamento de Computación y Sistemas Inteligentes de la universidad ICESI de Cali.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-light text-center bg-white pb-2">
                        <div class="card-body text-dark">
                          <div class="img-area mb-4">
                              <img src="img/mentor-5.jpg" class="img-fluid" alt="">
                          </div>
                            <h3 class="card-title">Maria Camila Barrera</h3>
                            <h4 class="card-title">Especialista en Sistemas Locales de Justicia, CJ y CCC, Programa JI. (JUSTICIA)</h4>
                            <p class="lead">Politóloga e internacionalista especializada en Resolución de Conflictos. Experiencia en investigación, gestión de proyectos e intervención social en construcción de paz, equidad de género, víctimas, derechos humanos, resolución de conflictos y acceso a la justicia</p>
                            <p class="lead">Conciliadora en Equidad comprometida con la gestión pacífica de conflictos en Colombia.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
      <!-- portfolio ends -->


      <section class="services section-padding" id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center pb-5">
                        <h2>Recursos de apoyo eficaces</h2>
                        <p>Te invitamos a explorar nuestro repositorio, donde encontrarás valiosos recursos de nivelación diseñados para la Hackatón. Para acceder, simplemente haz clic aqui.</p>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-12 col-lg-4">
                  <div class="card text-white text-center bg-dark pb-2">
                      <div class="card-body">
                          <i class="bi bi-laptop"></i>
                          <h3 class="card-title">Bases de datos</h3>
                          <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eligendi modi temporibus alias iste. Accusantium?</p>
                          <button class="btn bg-warning text-dark">Leer más</button>
                      </div>
                  </div>
              </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-white text-center bg-dark pb-2">
                        <div class="card-body">
                          <i class="bi bi-journal"></i>
                            <h3 class="card-title">HandBook del Hackathon</h3>
                            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eligendi modi temporibus alias iste. Accusantium?</p>
                            <button class="btn bg-warning text-dark">Leer más</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-white text-center bg-dark pb-2">
                        <div class="card-body">
                          <i class="bi bi-intersect"></i>
                            <h3 class="card-title">Reglamento del Hackathon</h3>
                            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eligendi modi temporibus alias iste. Accusantium?</p>
                            <button class="btn bg-warning text-dark">Leer más</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card text-center">
                        <div class="card-body">
                            <img src="img/Icono1 Data.png" alt="" class="img-fluid rounded-circle">
                        <h3 class="card-title py-2">Bases de Datos</h3>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi ipsam nostrum illo tempora esse quibusdam.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card text-center">
                        <div class="card-body">
                            <img src="img/Icono2 Sostenibilidad.png" alt="" class="img-fluid rounded-circle">
                        <h3 class="card-title py-2">Handbook</h3>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi ipsam nostrum illo tempora esse quibusdam.</p>
                        
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card text-center">
                        <div class="card-body">
                            <img src="img/Icono3 Crecimiento.png" alt="" class="img-fluid rounded-circle">
                        <h3 class="card-title py-2">Términos</h3>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi ipsam nostrum illo tempora esse quibusdam.</p>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- services section Ends -->

    <!-- Contact starts -->
    <section id="contact" class="contact section-padding-2">
      <div class="container mt-5 mb-5">
          <div class="row">
              <div class="col-md-12">
                  <div class="section-header text-center pb-5">
                      <h2>Contact Us</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur <br>adipisicing elit. Non, quo.</p>
                  </div>
              </div>
          </div>
          <div class="row m-0">
              <div class="col-md-12 p-0 pt-4 pb-4">
                  <form action="#" class="bg-light p-4 m-auto">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="mb-3">
                                  <input class="form-control" placeholder="Full Name" required="" type="text">
                              </div>
                          </div>
                          <div class="col-md-12">
                              <div class="mb-3">
                                  <input class="form-control" placeholder="Email" required="" type="email">
                              </div>
                          </div>
                          <div class="col-md-12">
                              <div class="mb-3">
                                  <textarea class="form-control" placeholder="Message" required="" rows="3"></textarea>
                              </div>
                          </div><button class="btn btn-warning btn-lg btn-block mt-3" type="button">Send Now</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
    </section>
    <!-- contact ends -->

    <!-- Introduction section Ends -->
    <section class="services section-padding-2" id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center pb-5">
                        <h2>¿Tienes alguna duda?</h2>                        
                        <p>El viernes 10 de noviembre a las 9:00 a.m. realizaremos una sesión de preguntas para aclarar las dudas que tengas frente a la convocatoria. Esta se realizará a través de la cuenta de Instagram de la Fundación Colombia 2050 (@fundacioncolombia2050).    Si quieres compartirnos  tus preguntas o inquietudes, puedes contactarnos previamente a través del correo electrónico [lauramora@fundacioncolombia2050.org] indicando en el asunto: “Dudas Hack por colombia”</p>                    
                        <br>ESTAMOS MUY FELICES DE  QUE HAGAS PARTE DE  <strong>Hack_Por_Colombia </strong>: Construyendo Acceso a la Justicia. ¡NOS VEMOS PRONTO!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Introduction section Ends -->

    <!-- footer starts -->
    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Form -->
          <section class="">
            <form action="">
              <!--Grid row-->
              <div class="row d-flex justify-content-center">
                <!--Grid column-->
                <div class="col-auto">
                  <p class="pt-2">
                    <strong>Logo USAID</strong>
                  </p>
                </div>
                <!--Grid column-->
      
                <!--Grid column-->
                <div class="col-md-5 col-12">
                  <!-- Email input -->
                  <div class="form-outline form-white mb-4">
                    <input type="email" id="form5Example29" class="form-control" />
                    <label class="form-label" for="form5Example29">¿Quieres contactarnos?</label>
                  </div>
                </div>
                <!--Grid column-->
      
                <!--Grid column-->
                <div class="col-auto">
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-outline-light mb-4">
                    Enviar
                  </button>
                </div>
                <!--Grid column-->
              </div>
              <!--Grid row-->
            </form>
          </section>
          <!-- Section: Form -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            La información publicada en este sitio no es información oficial del gobierno de Estados Unidos y no representa los puntos de vista o posiciones de la Agencia de Estados Unidos para el Desarrollo Internacional ni del gobierno de Estados Unidos.
        </div>
        <!-- Copyright -->
    </footer>
    <!-- footer ends -->


    <!-- All Js -->
    <script>
        var countDownDate = new Date("Feb 9, 2024 00:00:00").getTime();
        var x = setInterval(function(){
            var now = new Date().getTime();
            var distance = countDownDate - now;

            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            document.getElementById("days").innerHTML = days;
            document.getElementById("hours").innerHTML = hours;
            document.getElementById("minutes").innerHTML = minutes;
            document.getElementById("seconds").innerHTML = seconds;

            if (distance < 0) {
                clearInterval(x);
                document.getElementById("days").innerHTML = "00";
                document.getElementById("hours").innerHTML = "00";
                document.getElementById("minutes").innerHTML = "00";
                document.getElementById("seconds").innerHTML = "00";
            }

        }, 1000);
    </script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/script.js"></script>

    <!-- Import Bootstrap JS and jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>    
</body>
</html>
