<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Hack por Colombia</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-wine-red fixed-top">
        <div class="container h-100">
            <img class="logo" src="./img/logoHXC.png" alt="HackPorColombia" class="navbar-logo">
            <div class="openMenu">
                <span class="navbar-toggler-icon"></span>
            </div>
            <ul class="mainMenu navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#recursos">Recuros de apoyo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#reglas">¿Quiénes pueden participar?</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="#mentores">Mentores</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="#inscripcion">¡Inscríbete aquí!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contacto"><i class="bi bi-telephone-inbound-fill"></i></a>
                </li>
                <div class="closeMenu"><i class="bi bi-x-circle-fill"></i></div>          
            </ul>            
        </div>
    </nav>
    
      <section class="services services-bg section-padding-1" id="services">
          <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header-bg section-header text-center p-2 m-1">
                        <h1 class="main-title">BIENVENIDO/A &lt;HACK POR COLOMBIA&gt;: CONSTRUYENDO ACCESO A LA JUSTICIA</h1>
                        <p class="sub-title">¿Tienes una idea que contribuya a mejorar el acceso a la justicia en tu territorio? Esta es tu oportunidad de ser parte de la solución.</p>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <div class="section-header text-center p-1 h-100">
                        <p> <strong>&lt;Hack_Por_Colombia&gt;: Construyendo Acceso a la Justicia</strong>  tiene como objetivo central promover el empoderamiento de jóvenes a través de la creación de soluciones innovadoras que fortalezcan el acceso a la justicia, así como la satisfacción y confianza en el sistema de justicia en Colombia.</p>
                        <p>Un total de 50 jóvenes de diversos municipios de nuestro país se reunirán los días 10 y 11 de febrero de 2024 en la ciudad de Cali, con el propósito de abordar un interesante reto relacionado con el desarrollo de un modelo o herramienta que contribuya a mejorar el acceso a la justicia y fortalecer la confianza en las instituciones en el contexto de la era de transformación digital.</p>
                    </div>
                </div>
            </div>
          </div>
      </section>
      
      <section class="services section-padding-2" id="services">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-6 col-lg-3 p-2">
                    <div class="card text-white text-center p-0 h-100">
                        <div class="card-top bg-darker-blue h-75">
                            <p id="days" class="card-body lead-p m-0">00</p>                                                                        
                        </div>
                        <div class="card-down bg-wine h-25">                                                  
                            <p class="card-body lead m-0">DÍAS</p>                        
                        </div>
                    </div>
                </div>
              <div class="col-6 col-md-6 col-lg-3 p-2">
                <div class="card text-white text-center p-0 h-100">
                    <div class="card-top bg-darker-blue h-75">
                        <p id="hours" class="card-body lead-p m-0">00</p>                                                                        
                    </div>
                    <div class="card-down bg-wine h-25">                                                  
                        <p class="card-body lead m-0">HORAS</p>                        
                    </div>
                </div>
            </div>
                <div class="col-6 col-md-6 col-lg-3 p-2">
                    <div class="card text-white text-center p-0 h-100">
                        <div class="card-top bg-darker-blue h-75">
                            <p id="minutes" class="card-body lead-p m-0">00</p>                                                                        
                        </div>
                        <div class="card-down bg-wine h-25">                                                  
                            <p class="card-body lead m-0">MINUTOS</p>                        
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-lg-3 p-2">
                    <div class="card text-white text-center p-0 h-100">
                        <div class="card-top bg-darker-blue h-75">
                            <p id="seconds" class="card-body lead-p m-0">00</p>                                                                        
                        </div>
                        <div class="card-down bg-wine h-25">                                                  
                            <p class="card-body lead m-0">SEGUNDOS</p>                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-md-12">
                    <div class="section-header text-center">
                        <p>¡Tú podrás ser uno de los 50 jóvenes que participen de esta increíble competencia!</p>
                        <p>Para conocer los Términos y Condiciones de la competencia haz clic <a target="_blank" href="https://drive.google.com/file/d/1RDXFfTs0aNTuWeWkC1KGUVa899sq_ace/view?usp=drive_link">aquí</a>.</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="section-header text-center">
                        <button class="btn"><a class="btn bg-wine text-white" target="_blank" href="https://842sgev99it.typeform.com/to/EKETpFuH">¡Inscríbete!</a></button>
                    </div>
                </div>
            </div>

            <div style="display: flex; justify-content: center; align-items: center;">
                <div class="m-4 line"></div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-header text-center p-2 m-1">
                            <h2 class="main-title">¿Qué es un Hackathon?</h2>
                            <div class="mb-3 line-soft"></div>
                            <p>Un Hackathon es un evento de trabajo intenso que reúne perfiles diversos para que un tiempo determinado trabajen en la solución de un reto de forma colaborativa, contando con recursos como mentores, espacios de retroalimentación y premiación para los participantes. El uso de herramientas innovadoras y  tecnológicas es fundamental para la competencia, pero no te preocupes si no eres un programador avanzado, lo importante es que tengas conocimientos o experiencia empírica, académica y/o profesional en el área de Justicia en Colombia.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div style="display: flex; justify-content: center; align-items: center;">
                <div class="m-4 line"></div>
            </div>

            <div class="row p-3">
                <div class="col-md-12">
                    <div class="container section-header pb-5">
                        <h3 class="main-title">¿Quiénes pueden participar?</h3>
                        <div class="mb-3 line-soft"></div>
                        <div class="mt-4">
                            <p><strong>1.</strong> Jóvenes de nacionalidad colombiana entre los 18 y 28 años en calidad de persona natural.</p>
                        </div>
                    
                        <div class="mt-4">
                            <p><strong>2.</strong> Que de manera empírica o mediante formación académica demuestra conocimientos en áreas de liderazgo, trabajo comunitario, acceso a derechos, justicia e innovación; o que estén cursando o hayan cursado programas de educación no formal, media vocacional, técnico, tecnólogo, pregrado y/o posgrado, en áreas de ingeniería o desarrollo (ingeniero de sistemas, ingeniero de comunicaciones, desarrollador, programador, analista de datos, etc.), ciencias económicas (financiero, economista, administrador de empresas, etc.) y ciencias sociales (sociólogo, antropólogo, periodista, comunicador social, historiador, filósofo, etc.).</p>
                        </div>
                    
                        <div class="mt-4">
                            <p><strong>3.</strong> Uso y manejo básico de herramientas ofimáticas (Word, Excel, PowerPoint, Canva).</p>
                        </div>
                    
                        <div class="mt-4">
                            <p><strong>4.</strong> Experiencia certificada en iniciativas comunitarias o proyectos con organizaciones de la sociedad civil en temas relacionados con DDHH, convivencia, resolución de conflictos, y justicia.</p>
                        </div>
                    
                        <div class="mt-4">
                            <p><strong>5.</strong> Jóvenes que estén participando o hayan participado en la creación de metodologías, diálogos o procesos de liderazgo en temas de convivencia, resolución de conflictos, justicia, DDHH entre otros, desde la investigación académica y autogestión comunitaria.</p>
                        </div>
                    
                        <div class="mt-4">
                            <p><strong>6.</strong> Nacidos en los siguientes municipios:</p>
                    
                            <div class="mt-3 ml-4">
                                <p><strong>a) Unidad Regional Antioquia-Chocó:</strong></p>
                                <ul>
                                    <li>Chocó: Bojayá, Carmen del Darién, Condoto, Istmina, Medio San Juan, Novita, Quibdó, Riosucio y Unguía.</li>
                                    <li>Urabá: Vigía del Fuerte, Apartadó, Carepa, Chigorodó, Dabeiba, Mutatá, Necoclí, San Pedro de Urabá y Turbo.</li>
                                    <li>Bajo Cauca: Caucasia, Cáceres, El Bagre, Nechí y Tarazá.</li>
                                </ul>
                            </div>
                    
                            <div class="mt-3 ml-4">
                                <p><strong>b) Unidad Regional Sur de Córdoba y Montes de María:</strong></p>
                                <ul>
                                    <li>Sur de Córdoba: Montelíbano, Puerto Libertador, Tierralta, San José de Ure, San Pelayo, Valencia y Montería.</li>
                                    <li>Bolívar: Cartagena, Córdoba, El Carmen de Bolívar, Mahates, María La Baja, San Jacinto, San Juan Nepomuceno y Zambrano. </li>
                                    <li>Sucre: Colosó, Chalán, Los Palmitos, Morroa, Ovejas, San Antonio de Palmito, San Onofre y Toluviejo.</li>
                                </ul>
                            </div>
                    
                            <div class="mt-3 ml-4">
                                <p><strong>c) Unidad Regional Suroccidente:</strong></p>
                                <ul>
                                    <li>Valle del Cauca: Buenaventura y Cali.</li>
                                    <li>Cauca: Caldono, Caloto, Corinto, Jambaló, Guapi, Miranda, Santander de Quilichao, El Tambo y Toribio.</li>
                                    <li>Pacífico Nariñense: Barbacoas, Magüí Payan, Roberto Payan, El Charco, Olaya Herrera, Santa Bárbara, Ricaurte, Francisco Pizarro, La Tola, Mosquera y Tumaco.</li>
                                    <li>Putumayo: Puerto Caicedo, Puerto Guzmán, Puerto Leguízamo, San Miguel, Puerto Asís, Orito, Valle del Guamuez y Villagarzón.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: flex; justify-content: center; align-items: center;">
                <div class="m-4 line"></div>
            </div>
        </div>
    </section>
    <!-- services section Ends -->

    <!-- Introduction section Ends -->
    <section class="services section-padding-2" id="inscripcion">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center pb-5">
                        <h2 class="main-title">Formulario de Inscripción</h2>
                        <button class="btn mb-3"><a class="btn bg-wine text-white" target="_blank" href="https://842sgev99it.typeform.com/to/EKETpFuH">Formulario de Inscripción</a></button>
                        <p>El formulario de inscripción estará habilitado desde el lunes 30 de octubre a las 9:00 a.m. hasta el domingo 12 de noviembre a las 11:59 p.m.  Una vez finalizado este tiempo,  no podrás registrarte para participar en el evento.</p>
                        <p>A continuación, encontrarás los términos y condiciones del evento <strong>&lt;Hack_Por_Colombia&gt;</strong>: Construyendo Acceso a la Justicia.  Estos términos y condiciones rigen tu participación en este evento, por lo que te recomendamos que los leas detenidamente. Al diligenciar el formulario de inscripción, aceptas cumplir con estos en su totalidad. </p>
                        <button class="btn mb-3"><a class="btn bg-wine text-white" target="_blank" href="https://drive.google.com/file/d/1RDXFfTs0aNTuWeWkC1KGUVa899sq_ace/view?usp=drive_link">Términos y condiciones</a></button>
                        <p>Este formato es el único formulario habilitado para el registro a <strong>&lt;Hack_Por_Colombia&gt;</strong>: Construyendo Acceso a la Justicia*. </p>
                        <p>*Extendemos una especial invitación a personas de la comunidad LGBTIQ+, comunidades Afro, Indígenas, Palenqueras, Negras, Rrom y mujeres jóvenes a ser parte <strong>&lt;Hack_Por_Colombia&gt;</strong>: Construyendo Acceso a la Justicia. El verdadero poder está en la diversidad y representatividad.</p>
                    </div>
                </div>
            </div>
            <div style="display: flex; justify-content: center; align-items: center;">
                <div class="m-4 line"></div>
            </div>
        </div>
    </section>
    <!-- Introduction section Ends -->

    <!-- portfolio strats -->
    <section id="mentores" class="portfolio section-padding-2">
        <div class="container">            
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center pb-2">
                        <h2 class="main-title">¡Conoce a nuestros mentores y jurados!</h2>
                        <p>Ellos son los encargados de  acompañarte, guiarte y resolver todas tus dudas  durante la competencia frente a las áreas de  Innovación y Sostenibilidad, Programación y Desarrollo de Software,  y Justicia.  También serán quienes evalúen y seleccionen la propuesta ganadora.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Image column (on the left for larger screens) -->
                <div class="col-lg-4 d-lg-flex">
                    <div class="img-card text-center p-2 h-100">
                        <div class="img-area mb-4">
                            <img src="img/mentor-1.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
        
                <!-- Text column (on the right for larger screens) -->
                <div class="col-lg-8 d-lg-flex">
                    <div class="text-light text-center bg-white pb-2 h-100">
                        <div class="card-body text-dark">
                            <h3 class="card-title color-name">Juanita López Patrón</h3>
                            <h4 class="card-title color-title">Directora Técnica Programa Justicia Inclusiva de USAID</h4>
                            <h5 class="card-title color-darker-blue">Área Justicia</h5>
                            <p class="lead">ExViceministra de Promoción de la Justicia, cuenta con 15 años de experiencia en el sector público, en diferentes ramas del poder público. Fue partícipe en la consolidación y puesta en marcha de la Agencia Nacional de Defensa Jurídica del Estado.</p>
                            <p class="lead">Como Viceministra de Promoción de la Justicia lideró programas exitosos que lograron posicionarse en la agenda pública tanto gubernamental como legislativa para mejorar sustantivamente el acceso a la justicia: justicia digital, justicia rural y justicia inclusiva; así como el mayor uso de métodos de resolución de conflictos.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Image column (on the left for larger screens) -->
                <div class="col-lg-4 d-lg-flex">
                    <div class="img-card text-center p-2 h-100">
                        <div class="img-area mb-4">
                            <img src="img/mentor-2.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
        
                <!-- Text column (on the right for larger screens) -->
                <div class="col-lg-8 d-lg-flex">
                    <div class="text-light text-center bg-white pb-2 h-100">
                        <div class="card-body text-dark">
                            <h3 class="card-title color-name">Camilo Rocha</h3>
                            <h4 class="card-title color-title">Decano Facultad de Ingeniería y Ciencias, PUJ Cali.</h4>
                            <h5 class="card-title color-darker-blue">Área Programación</h5>
                            <p class="lead">Decano de la facultad de ingeniería de la Pontificia Universidad Javeriana de Cali. Cuenta con amplia experiencia en proyectos de investigación fundamental, investigación aplicada y consultoría en métodos formales e inteligencia artificial. Ha sido docente e investigador en áreas de computación, matemáticas y biología, que incluyen la creación de nuevos lenguajes de programación para misiones espaciales autónomas; técnicas algorítmicas, simbólicas y probabilísticas.</p>
                            <p class="lead">Ha sido investigador principal y co-investigador en proyectos de gran escala financiados con fondos nacionales e internacionales, ha dirigido a estudiantes de pregrado, maestría y doctorado, y ha sido galardonado con reconocimientos internacionales como Amazon Research Awards.</p>
                        </div>
                    </div>
                </div>
            </div>            
            <div class="row">
                <!-- Image column (on the left for larger screens) -->
                <div class="col-lg-4 d-lg-flex">
                    <div class="img-card text-center p-2 h-100">
                        <div class="img-area mb-4">
                            <img src="img/mentor-3.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
        
                <!-- Text column (on the right for larger screens) -->
                <div class="col-lg-8 d-lg-flex">
                    <div class="text-light text-center bg-white pb-2 h-100">
                        <div class="card-body text-dark">
                            <h3 class="card-title color-name">Carolina Montoya</h3>
                            <h4 class="card-title color-title">Coordinadora regional, ImpactHub Cali.</h4>
                            <h5 class="card-title color-darker-blue">Área Innovación y Sostenibilidad</h5>
                            <p class="lead">Ingeniera Industrial con especialización en Comunicación Estratégica de Marca, con más de 7 años de experiencia profesional en el sector privado y social, dentro de esta experiencia, 5 años en el ecosistema de emprendimiento e Innovación.</p>
                            <p class="lead">Áreas de experiencia: estructuración de modelos de negocios y planes de negocio, creación y fortalecimiento empresarial, marketing y posicionamiento empresarial, alianzas comerciales. Mentora de +50 emprendimientos. Actual líder de Impact Hub Cali.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Image column (on the left for larger screens) -->
                <div class="col-lg-4 d-lg-flex">
                    <div class="img-card text-center p-2 h-100">
                        <div class="img-area mb-4">
                            <img src="img/mentor-4.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
        
                <!-- Text column (on the right for larger screens) -->
                <div class="col-lg-8 d-lg-flex">
                    <div class="text-light text-center bg-white pb-2 h-100">
                        <div class="card-body text-dark">
                            <h3 class="card-title color-name">Juan Manuel Madrid</h3>
                            <h4 class="card-title color-title">Profesor de la Facultad de Ingeniería, Diseño y Ciencias Aplicadas.</h4>
                            <h5 class="card-title color-darker-blue">Área Desarrollo de Software</h5>
                            <p class="lead">Profesor e investigador en temas de Seguridad de la Información, Ciberseguridad, Sistemas Operativos y Robótica.</p>
                            <p class="lead">Cuenta con una Maestría en Ciencias enfocada en Seguridad de la Información de Nova Southeastern University. Actualmente se desempeña como docente del Departamento de Computación y Sistemas Inteligentes de la universidad ICESI de Cali.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Image column (on the left for larger screens) -->
                <div class="col-lg-4 d-lg-flex">
                    <div class="img-card text-center p-2 h-100">
                        <div class="img-area mb-4">
                            <img src="img/mentor-5.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
        
                <!-- Text column (on the right for larger screens) -->
                <div class="col-lg-8 d-lg-flex">
                    <div class="text-light text-center bg-white pb-2 h-100">
                        <div class="card-body text-dark">
                            <h3 class="card-title color-name">Maria Camila Barrera</h3>
                                <h4 class="card-title color-title">Especialista en Sistemas Locales de Justicia, CJ y CCC, Programa JI.</h4>
                                <h5 class="card-title color-darker-blue">Área Justicia</h5>
                                <p class="lead">Politóloga e internacionalista especializada en Resolución de Conflictos. Experiencia en investigación, gestión de proyectos e intervención social en construcción de paz, equidad de género, víctimas, derechos humanos, resolución de conflictos y acceso a la justicia.</p>
                                <p class="lead">Conciliadora en Equidad comprometida con la gestión pacífica de conflictos en Colombia.</p>                          
                        </div>
                    </div>
                </div>
            </div>                                                                                                            
        </div>
        <div style="display: flex; justify-content: center; align-items: center;">
            <div class="m-4 line"></div>
        </div>
        
      </section>
      <!-- portfolio ends -->


      <section class="services section-padding" id="recursos">
        <div class="container">            
            <div class="col-md-12">
                <div class="section-header text-center pb-5">
                    <h2 class="main-title">Recursos de apoyo eficaces</h2>
                    <p>Te invitamos a explorar nuestro repositorio, donde encontrarás valiosos recursos de nivelación diseñados para la Hackatón. Para acceder, simplemente haz clic aqui.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-dark text-center pb-2 h-100">
                        <div class="card-body">
                            <div style="display: flex; justify-content: center; align-items: center; ">
                                <img src="./img/icono 1 1.png" alt="">
                            </div>                            
                            <h3 class="card-title mt-4">Bases de datos</h3>
                            <div style="display: flex; justify-content: center; align-items: center;">
                                <div class="m-1 line-soft"></div>
                            </div>
                            <p class="lead">Utiliza esta herramienta para herramienta para recopilar, organizar  y manipular información de forma eficiente orientándolo hacia tu propuesta.</p>
                            <button class="btn btn-primary text-dark" disabled>Leer más</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-dark text-center pb-2 h-100">
                        <div class="card-body">
                            <div style="display: flex; justify-content: center; align-items: center;">
                                <img src="./img/libro-abierto 1.png" alt="">
                            </div>                             
                            <h3 class="card-title mt-4">HandBook del Hackathon</h3>
                            <div style="display: flex; justify-content: center; align-items: center;">
                                <div class="m-1 line-soft"></div>
                            </div>
                            <p class="lead">Descubre las reglas y pautas para la hackathon, el conjunto de requerimientos para triunfar. ¡Prepárate para la innovación!</p>
                            <button class="btn btn-primary text-dark" disabled>Leer más</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-dark text-center pb-2 h-100">
                        <div class="card-body">
                            <div style="display: flex; justify-content: center; align-items: center; ">
                                <img src="./img/lista-de-verificacion 1.png" alt="">
                            </div>                         
                            <h3 class="card-title mt-4">Reglamento del Hackathon</h3>
                            <div style="display: flex; justify-content: center; align-items: center;">
                                <div class="m-1 line-soft"></div>
                            </div>
                            <p class="lead">Encuentra aquí el reglamento oficial de la hackathon, reglas y deberes de la competición. ¡Lee las normas antes de empezar!</p>
                            <button class="btn btn-primary text-dark" disabled>Leer más</button>
                        </div>
                    </div>
                </div>                      
            </div>            
        </div>
    </section>
    <!-- services section Ends -->
    

    <!-- Introduction section Ends -->
    <section class="services section-padding-2" id="services">
        <div class="container">
            <div class="row mb-0">
                <div class="col-md-12">
                    <div class="section-header text-center pb-5">
                        <h2 class="main-title">¿Tienes alguna duda?</h2>                        
                        <p>El viernes 10 de noviembre a las 9:00 a.m. realizaremos una sesión de preguntas para aclarar las dudas que tengas frente a la convocatoria. Esta se realizará a través de la cuenta de Instagram de la Fundación Colombia 2050 (<span style="color: #006FB9;">@fundacioncolombia2050</span>).</p> 
                        <p>Si quieres compartirnos  tus preguntas o inquietudes, puedes contactarnos previamente a través del correo electrónico [<span style="color: #006FB9;">lauramora@fundacioncolombia2050.org</span>] indicando en el asunto: “Dudas Hack por colombia”.</p>                    
                        <h4 class="mt-5 main-title">ESTAMOS MUY FELICES DE  QUE HAGAS PARTE DE  <strong>&lt;Hack_Por_Colombia&gt;</strong>: Construyendo Acceso a la Justicia.</h4>
                        <h4 class="main-title">¡NOS VEMOS PRONTO!</h4>
                    </div>
                </div>
            </div>
            <div class="row m-0 p-0">
                <div class="col-md-12 img-resp-al">
                    <img class="image-resp" src="./img/mesa.png" alt="Mesa de Trabajo">
                </div>
            </div>
        </div>
    </section>
    <!-- Introduction section Ends -->

    <!-- footer starts -->
    <footer id="contacto" class="bg-light-blue text-center text-dark">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Form -->
          <section class="">
            <form action="">
              <!--Grid row-->
              <div class="row d-flex justify-content-center">
                <!--Grid column-->
                <div class="col-auto">
                  <p class="pt-2">
                    <img class="image-resp logo" src="../Components/img/Logo USAID ESPAÑOL.png" alt="USAID">
                  </p>
                </div>
                <!--Grid column-->
      
                <!--Grid column-->
                <div class="col-md-5 col-12">
                  <!-- Email input -->
                  <div class="form-outline form-white mb-4">
                    <input type="email" id="form5Example29" class="form-control" />
                    <label class="form-label" for="form5Example29">¿Quieres contactarnos?</label>
                  </div>
                </div>
                <!--Grid column-->
      
                <!--Grid column-->
                <div class="col-auto">
                  <!-- Submit button -->
                  <button type="submit" class="btn bg-darker-blue text-light mb-4">
                    Enviar
                  </button>
                </div>
                <!--Grid column-->
              </div>
              <!--Grid row-->
            </form>
          </section>
          <!-- Section: Form -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3">
            La información publicada en este sitio no es información oficial del gobierno de Estados Unidos y no representa los puntos de vista o posiciones de la Agencia de Estados Unidos para el Desarrollo Internacional ni del gobierno de Estados Unidos.
        </div>
        <!-- Copyright -->
    </footer>
    <!-- footer ends -->


    <!-- All Js -->
    <script>
        var countDownDate = new Date("Feb 9, 2024 00:00:00").getTime();
        var x = setInterval(function(){
            var now = new Date().getTime();
            var distance = countDownDate - now;

            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            document.getElementById("days").innerHTML = days;
            document.getElementById("hours").innerHTML = hours;
            document.getElementById("minutes").innerHTML = minutes;
            document.getElementById("seconds").innerHTML = seconds;

            if (distance < 0) {
                clearInterval(x);
                document.getElementById("days").innerHTML = "00";
                document.getElementById("hours").innerHTML = "00";
                document.getElementById("minutes").innerHTML = "00";
                document.getElementById("seconds").innerHTML = "00";
            }

        }, 1000);
        const mainMenu = document.querySelector('.mainMenu');
        const closeMenu = document.querySelector('.closeMenu');
        const openMenu = document.querySelector('.openMenu');
        const menu_items = document.querySelectorAll('nav .mainMenu li a');




        openMenu.addEventListener('click',show);
        closeMenu.addEventListener('click',close);

        // close menu when you click on a menu item 
        menu_items.forEach(item => {
            item.addEventListener('click',function(){
                close();
            })
        })

        function show(){
            mainMenu.style.display = 'flex';
            mainMenu.style.top = '0';
        }
        function close(){
            mainMenu.style.top = '-100%';
        }
    </script>
    <script src="js/bootstrap.bundle.min.js"></script>

    <!-- Import Bootstrap JS and jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>    
</body>
</html>
