:root {
    --full-white: #FFFFFF;
    --kind-black: #010C03;
    --king-blue: #006FB9;
    --clear-blue: #A3C2E6;
    --almost-king-blue: #336799;
    --wine-red: #5D0024;
    --darker-blue: #002E6D;
    --car-red: #C3002F;
    --third-grey: #686463;
    --second-grey: #858482;
    --first-grey: #DCDCD7;
}


/* General styles for all sections */
body {
    background-color: var(--full-white);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

.section-padding {
	padding: 100px 0;
}
.section-padding-1 {
	padding: 100px 0 0 0;
}
.section-padding-2 {
	padding: 30px 0 0 0;
}
.section-padding-3 {
	padding: 100px 0 50px 0;
}
.bg-second-grey {
	background-color: var(--second-grey);
}
.bg-wine-red {
	background-color: var(--wine-red);
}
.navbar {
	height: 100px;
}
.navbar-logo {
	width: auto; 
	height: 80%; 
}
.navbar-nav li {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin: 0 15px; 
    border-radius: 11px;
	height: 40px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.navbar-nav a {
    font-size: 15px;
    color: #002E6D;
    text-align: center;
    font-family: Gill Sans;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    margin: 0 10px; 
}
.navbar-light .navbar-brand {
	color: #000;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-light .navbar-nav .nav-link {
    color: #002E6D;
}
.w-100 {
	height: 100vh;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}
.services-bg {
	background-image: url("../img/plano\ horizontal\ 1.png");
}
.section-header-bg {
	border-radius: 22px;
	background: rgba(255, 255, 255, 0.66);
}

.main-title {
	color: #5D0024;
	text-align: center;
	font-family: Gill Sans;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 45.5px; /* 126.389% */
	letter-spacing: 0.9px;
}
.sub-title {
	color: #5D0024;
	text-align: center;
	font-family: Gill Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px; 
}

.number {
    color: #FFF;
    text-align: center;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}

.number-text {
    color: #FFF;
    text-align: center;
    font-family: 'Gill Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}
.logo {
	height: auto;
	width: 210px;
	border-right: 1px solid #002E6D;
}
.bg-wine {
    background-color: var(--wine-red) !important;
}
.bg-darker-blue {
	background-color: var(--darker-blue) !important;
}
.bg-light-blue {
	background-color: var(--clear-blue) !important;
}
.text-white {
	color: var(--full-white) !important
}
.card-top {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.5rem 0.5rem 0 0;
    -webkit-border-radius: 0.5rem 0.5rem 0 0;
    -moz-border-radius: 0.5rem 0.5rem 0 0;
    -ms-border-radius: 0.5rem 0.5rem 0 0;
    -o-border-radius: 0.5rem 0.5rem 0 0;
}
.card-down {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0 0 0.5rem 0.5rem;
    -webkit-border-radius: 0 0 0.5rem 0.5rem;
    -moz-border-radius: 0 0 0.5rem 0.5rem;
    -ms-border-radius: 0 0 0.5rem 0.5rem;
    -o-border-radius: 0 0 0.5rem 0.5rem;
}
.lead-p {
	text-align: center;
	font-size: 75px;
	font-style: normal;
	font-weight: 700;
	line-height: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.lead {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card {
    border-radius: 10px; /* Add border radius to the cards */
    margin: 10px; /* Add some margin to separate the cards */
}

.line {
    width: 80%;
    border-top: 2px solid var(--wine-red); /* You can adjust the color and style as needed */
    margin: 0 auto; /* Center the line horizontally */
}
.line-soft {
    width: 30%;
    border-top: 1px solid var(--wine-red); /* You can adjust the color and style as needed */
    margin: 0 auto; /* Center the line horizontally */
}
.color-name {
	color: #5D0024;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;	
	font-weight: 700;
}
.color-title {
	color: #5D0024;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;	
	font-weight: 500;
}
.color-darker-blue {
	color: var(--darker-blue);
	font-weight: 700;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.portfolio .card {
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.team .card {
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.services .card-body i {
	font-size: 50px;
}
.team .card-body i {
	font-size: 20px;
}
.image-resp {
	text-align: center !important;
	max-width: 100%;
	height: auto;
}
.img-resp-al {
	display: flex;
	justify-content: center !important;
	align-items: center !important;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.carousel-caption {
		bottom: 370px;
	}
	.carousel-caption p {
		width: 100%;
	}
	.card {
		margin-bottom: 30px;	
	}
	.img-area img {
		width: 100%;
	}		
}
@media only screen and (max-width: 767px) {
	.navbar-nav {
		text-align: center;
	}
	.carousel-caption {
		bottom: 125px;
	}
	.carousel-caption h5 {
		font-size: 17px;
	}
	.carousel-caption a {
		padding: 10px 15px;
		font-size: 15px;
	}
	.carousel-caption p {
		width: 100%;
		line-height: 1.6;
		font-size: 12px;
	}
	.about-text {
		padding-top: 50px;
	}
	.card {
		margin-bottom: 30px;
	}		
}





  nav .mainMenu {
    display: flex;
    list-style: none;
  }
  nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 18px;
    transition: 0.2s ease;
  }  
  nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
  }
  nav .mainMenu .closeMenu,
  .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
  }  
  @media (max-width: 800px) {
    nav .mainMenu {
      height: 100vh;
      position: fixed;
      top: 0px;
      right: 0px;
      left: 0px;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: var(--wine-red);
      transition: top 1s ease 0s;
      display: none;
    }
    nav .mainMenu .closeMenu {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
    }
    nav .openMenu {
      display: block;
    }    
    .icons i {
      display: inline-block;
      padding: 12px;
    }
  }